<div class="panel panel-primary" [class.panel-success]="selectedEmployeeId === employee.id">
  <div class="panel-heading">
    <h3 class="panel-title">{{employee.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row vertical-align">
        <div class="col-xs-5">
          <img [src]="employee.photoPath" [alt]="employee.name">
        </div>
        <div class="col-xs-7">
          <div class="row">
            <div class="col-xs-6">
              Gender:
            </div>
            <div class="col-xs-6">
              {{employee.gender}}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              Date of Birth:
            </div>
            <div class="col-xs-6">
              {{employee.dateOfBirth | date}}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              Contact Preference:
            </div>
            <div class="col-xs-6">
              {{employee.contactPreference}}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              Email:
            </div>
            <div class="col-xs-6">
              {{employee.email}}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              Phone Number:
            </div>
            <div class="col-xs-6">
              {{employee.phoneNumber}}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              Department:
            </div>
            <div class="col-xs-6">
              @switch(employee.department) {
              @case ("1") {
              {{departments[0].name}}
              }
              @case ("2") {
              {{departments[1].name}}
              }
              @case ("3") {
              {{departments[2].name}}
              }
              @case ("4") {
              {{departments[3].name}}
              }
              @case ("5") {
              {{departments[4].name}}
              }
              @default {
              N/A
              }
              }
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              Is Active:
            </div>
            <div class="col-xs-6">
              {{employee.isActive}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" (click)="viewEmployee()">View</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>